*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    width: 100%;
    max-width: 100%;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    
}

.foto-Juan{
    max-width: 100%;
    height: auto;
    max-height: 300px;
    width: auto;
    border-radius: 50%;
}

h1{
    padding: 0 5px;
    width: auto;
    max-width: 100%;
}

.nav{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    padding: 25px 5px;
    font-size: 12px;
    visibility: hidden;
}

.nav li {
    width: 20%;
    margin: 3px;
  }

.nav a {
    text-decoration: none;
}

.p-Perfil-profesional{
    text-align: justify;
}

section{
    padding: 8px 5px;
    max-width: 100%;
    word-wrap: break-word;
}

h2{
    padding-bottom: 5px;
}

p{
    word-wrap: break-word;
}

.repartidor{
    display: flex;
    padding-bottom: 5px;
    justify-content: space-between;
    max-width: 100%;
}

#Educación ul {
    list-style: none;
    padding: 0;
}


#Educación li{
    padding: 3px 0;
}

#Educación li p{
    margin-left: 10px;
}

.li-JS{
    display: flex;
    justify-content: space-between;
}

.li-JS p{
    white-space: nowrap;
}

.li-frontend{
    display: flex;
    justify-content: space-between;
}

.li-frontend p {
    white-space: nowrap;
}

.li-CSS{
    display: flex;
    justify-content: space-between;
}

.li-HTML{
    display: flex;
    justify-content: space-between;
}

.li-prog{
    display: flex;
    justify-content: space-between;
}

