*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    width: 100%;
    max-width: 100%;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    
}

.foto-Juan{
    max-width: 100%;
    height: 200px;
    max-height: auto;
    width: 250px;
    border-radius: 50%;
}

h1{
    padding: 0 5px;
    width: auto;
    max-width: 100%;
}


.hamburguer{
    position: absolute;
    bottom: 95%;
    left: 90%;
}

.nav{
    width: 50%;
    height: 50%;
    background-color: #fff;
    position: absolute;
    bottom: 45%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#nav{
    display: none;
}

.nav li {
    width: 20%;
    margin: 3px;
  }

.nav a {
    text-decoration: none;
}

section{
    padding: 8px 5px;
    max-width: 100%;
    word-wrap: break-word;
}

p{
    word-wrap: break-word;
}

.p-Perfil-profesional{
    text-align: justify;
}

.repartidor{
    display: flex;
    padding-bottom: 5px;
    justify-content: space-between;
    max-width: 100%;
}

#Educación ul {
    list-style: none;
    padding: 0;
}


#Educación li{
    padding: 3px 0;
}

#Educación li p{
    margin-left: 10px;
}

.li-JS{
    display: flex;
    justify-content: space-between;
}

.li-JS p{
    white-space: nowrap;
}

.li-frontend{
    display: flex;
    justify-content: space-between;
}

.li-frontend p {
    white-space: nowrap;
}

.li-CSS{
    display: flex;
    justify-content: space-between;
}

.li-HTML{
    display: flex;
    justify-content: space-between;
}

.li-prog{
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px){

    .foto-Juan{
        max-width: 100%;
        height: 300px;
        max-height: auto;
        width: 250px;
        border-radius: 50%;
    }

    .hamburguer{
        visibility: hidden;
    }

    #nav{
        display: contents;
    }

    .nav{
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        text-align: center;
        padding: 25px 5px;
        font-size: 14px;
        position: static;
        background-color: antiquewhite;
    }

    .HSul{
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
    }

    .SSul{
        display: flex;
        justify-content: space-between;
    }
}

